.form {
    width: 100%;
    padding: 20px;
    background-color: var(--item-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    color: var(--text-color);
}

.form__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__header .header__left h1 {
    font-weight: 700;
    color: var(--main-color);
}

.form__header .header__left p {
    width: 100%;
    font-weight: 700;
    color: var(--text-color);
}

.form__header .header__right {
    display: flex;
    align-items: center;
}

.form__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.form__field {
    width: calc(100%/3 - 10px);
    margin: 5px 0;
    position: relative;
    color: var(--text-color);
}

.form__field span {
    font-weight: 700;
    color: var(--text-color);
}

/* .detail__information__form {
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    padding: 5px 10px;
    background-color: var(--item-color);
    color: var(--text-color);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.productimport__form__item__icon {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.productimport__form__item__icon .icon__item {
    font-size: 12px;
    color: var(--text-color);
}

.detail__information__form .detail__information__form__item {
    width: 100%;
    padding: 0 10px;
} */

.form__field select,
.form__field label,
.form__field input,
.form__field button,
.form__field textarea {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #5f5f5f;
    background-color: var(--item-color);
    color: #5f5f5f;
    margin: 10px 0;
    font-weight: 700;
    border-radius: var(--border-radius);
    transition: all 0.1s;
}

.form__field button {
    text-align: left;
    cursor: pointer;
}

.form__field input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.form__field input[type="file"] {
    display: none;
}

/* 

 {
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--item-color);
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    font-weight: 700;
    cursor: pointer;
} */

.form__field select option:first-child {}

/* .add-new-item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    position: absolute;
    z-index: 1;
}

.add-new-item button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    background-color: var(--item-color);
    color: var(--text-color);
    font-weight: 700;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 2px solid var(--text-color);
} */

.form__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.form__footer button {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: var(--text-in-background-color);
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    margin: 0 5px;
    transition: all 0.3s;
}