.board--student .board__table .board__table__attribute:first-child {
    flex: 3;
}

.board--student .board__table .board__table__attribute:nth-child(2) {
    flex: 5;
}

.board--student .board__table .board__table__attribute:nth-child(3) {
    flex: 4;
}

.board--student .board__table .board__table__attribute:nth-child(4) {
    flex: 2;
}

.board--student .board__table .board__table__attribute:nth-child(5) {
    flex: 3;
}

.board--student .board__table .board__table__attribute:nth-child(5) {
    flex: 5;
}

.board--student .board__table .board__table__attribute:nth-child(6) {
    flex: 4;
}

.board--student .board__table .board__table__attribute:nth-child(7) {
    flex: 1;
}


.custom-file-upload {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffffff;
    color: var(--main-color);
    border-radius: var(--border-radius);
    margin: 0px 5px;
    cursor: pointer;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #ffffff;
}

.custom-file-upload input {
    display: none;
}