.board--course .board__table .board__table__attribute:first-child {
    flex: 1;
}

.board--course .board__table .board__table__attribute:nth-child(2) {
    flex: 3;
}

.board--course .board__table .board__table__attribute:nth-child(3) {
    flex: 3;
}

.board--course .board__table .board__table__attribute:nth-child(4) {
    flex: 1;
}